.headerModal {
    color: black;
    
}

.bodyModal {
    width: "100%"; 
    padding: "15px";

    label {
        font-size: "15px";
        float: "left";
        color: black;
    }
}


.password-con {
    justify-content: "right"
}