/* Example global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #272934;
  color: #222;
  
}

.App {
  text-align: center;
}

