.password-strength-meter {
  margin-top: 25px;

  progress {
    width: 97%;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  progress .very-weak {
    background-color: #ff4d4d; /* Czerwony */
  }
  
  progress .weak {
    background-color: #ffa64d; /* Pomarańczowy */
  }
  
  progress .medium {
    background-color: #ffd966; /* Żółty */
  }
  
  progress .strong {
    background-color: #b3ff66; /* Zielony */
  }
  
  progress .very-strong {
    background-color: #66ff66; /* Jasnozielony */
  }
}
.strength-label{
  font-size: 13px;
}